/* .event-statistics-admin {
    display: flex;
    padding-left: 240px; 
}

.event-statistics-admin .content {
    flex: 1;
    padding: 20px;
}

.event-statistics-admin h2 {
    margin-bottom: 20px;
}

.event-statistics-admin .controls {
    margin-bottom: 20px;
}

.event-statistics-admin .controls label {
    margin-right: 10px;
} */
