.postevent {
    display: flex;
}

.postevent-content {
    flex: 2;
    /* margin-left: 260px;  */
    /* Adjust this value based on the sidebar width */
    padding: 20px;
}

.event-card {
    margin-bottom: 20px;
    position: relative;
    display: flex; /* Enable flexbox for alignment */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text within the card */
}

.event-card h2 {
    margin-top: 0;
}

.event-card p {
    margin: 10px 0;
}

.event-card img {
    width: 10cm;
    height: 10cm;
    object-fit: cover; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust space between image and text */
    display: block;
}

.MuiCardContent-root {
    padding-bottom: 16px !important; /* Ensure padding at the bottom of CardContent */
}

.MuiButton-containedPrimary {
    background-color: #000 !important; /* Change button color to black */
    color: #fff !important;
}
