/* normal poppin font */
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* when bolded */
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* when italic */
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* u can add more fonts if needed, just refer to above and client/src/fonts */