.eventadminsidebar {
    flex: 1;
    max-width: 33.33% ;
    width: 240px ;
    background-color: #94C4BB ;
    height: 70vh ;
    position: fixed ;
    padding-top: 40px ;
    top: 100px;
  }
  
  .eventadminsidebar .MuiList-root {
    padding: 0;
  }
  
  .eventadminsidebar .MuiListItem-root {
    padding: 10px 20px;
  }
  
  .eventadminsidebar .MuiListItem-root:hover {
    background-color: #e0e0e0;
  }
  